.list-container {
    display: flex;
    overflow: scroll;
    gap: 1.25rem;
    margin-bottom: 1rem;
}

    .list-container::-webkit-scrollbar {
        display: none;
    }

h4 {
    margin-bottom: 0.75rem;
    font-weight: 500;
    margin-top: 1rem;
}

.event-detail {
    padding: 1rem;
}

.tag-container {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.25rem;
}