@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1:focus {
    outline: none;
}

h3, h4, h6, p {
    margin: 0;
}

a, .btn-link {
    color: #21130d;
    text-decoration: none;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.input-box {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
}

a:hover {
    color: black;
}

.amenity-card {
    min-width: 220px;
    width: 18rem;
    border-radius: 10%;
    border-color: rgba(111,111,111,0.2) transparent transparent;
}

input[type=range]::-webkit-slider-thumb {
    background: red;
}

input[type=range]::-moz-range-thumb {
    background: red;
}

input[type=range]::-ms-thumb {
    background: red;
}

.rz-rating .rzi-star {
    color: var(--rz-warning-light) !important;
}

.empty-result {
    text-align: center;
    margin-top: 2rem;
}

.rz-tabview-nav li {
    width: 100% !important;
}

    .rz-tabview-nav li a {
        justify-content: center;
    }

.dropdown-item {
    padding: 0.5rem 1rem;
}

.modal-dialog {
/*    margin: 2rem;*/

}

.modal-start {
    align-items: start !important;
}

.modal-center {
    align-items: center !important;
}

.modal-end {
    align-items: end !important;
}

.modal-background {
    background-color: white !important;
}

.modal-info {
    display: flex;
    flex-direction: row;
    font-size: x-large;
    color: #90C7CA;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.modal-content {
    background-color: transparent;
    border-color: transparent;
}

.modal-body {
    display: flex;
    flex-direction: column;
    padding: 0.75rem;
    background-color: white;
    border-radius: 0.5rem;
}

.btn-setting {
    color: #4E7779;
    padding: 0.5rem 0;
    font-weight: 700;
    background-color: #e9e9e9;
    border-radius: 0.5rem;
    font-size: larger;
}

.btn-cancel {
    color: #7E6D53;
}

.bi-check-circle, .bi-x-circle {
    font-size: 10rem;
}

.form-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    flex-wrap: nowrap;
    padding: 0.75rem 0 0.25rem 0;
    margin-top: 0.75rem;
}

.btn-save {
    background-color: #4E7779;
    margin: 1rem 0 0 0;
    color: white;
    width: 100%;
    border: 2px solid transparent;
}

.btn-close-variant {
    margin: 1rem 0 0 0;
    color: #7E6D53;
    font-weight: 700;
    width: 100%;
    border: 2px solid #C3BA9B;
    background: none;
    padding: 0.3125rem 0.33rem;
    height: auto;
    opacity: 50;

}

hr {
    margin: 0.25rem 0;
    background-color: transparent;
}

.btn-check:focus + .btn, .btn:focus {
    box-shadow: none;
}