.event-container {
    display: flex;
    gap: 0.25rem;
    width: 100%;
    margin-top: 10px;
}

.event-img {
    height: 60px;
    width: 100px;
    padding: 2px;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    border-radius: 5px;
    margin-top: 0.5rem;
    box-shadow: 1.5px 1.5px 1.5px #ccc;
}

.description {
    width: 300px;
}

.tag-container {
    font-size: 0.85rem;
    width: 100%;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.05rem;
}

.card-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.15rem 0;
}

    .card-bottom > p {
        padding-top: 0.35rem;
        font-size: small;
        color: #62605f;
    }

.btn-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    position: relative;
    left: 18.5rem;
    top: -1.85rem;
    height: 0;
}

.bi-bookmark {
    font-size: 1.35rem;
    color: darkgray;
}

.bi-bookmark-fill {
    font-size: 1.35rem;
    color: #eab676;
}

.bi-plus-lg {
    font-size: 1.35rem;
    color: #7E6D53;
}

.modal-info {
    padding-bottom: 1.5rem;
}

.btn-cancel2 {
    background-color: #7E6D53;
    margin: 1rem 0 0 0;
    color: white;
    width: 100%;
    border: 2px solid transparent;
}

.btn-controls {
    padding-top: 0;
    margin-top: 0;
}