@inject NavigationManager nav

<div class="card" @onclick="GoToPage">
    <img class="card-img-top" src="@imgUrl" alt="@eventName">
    <div class="card-body">
        <h5 class="card-title">@eventName</h5>
        <p class="card-text">@eventDate</p>
        <p class="card-text">@eventStart - @eventEnd MST</p>
    </div>
</div>

@code {
    [Parameter]
    public string eventId { get; set; }

    [Parameter]
    public string imgUrl { get; set; }

    [Parameter]
    public string eventName { get; set; }

    [Parameter]
    public string eventDate { get; set; }

    [Parameter]
    public string eventStart { get; set; }

    [Parameter]
    public string eventEnd { get; set; }

    public void GoToPage()
    {
        string placeUrl = "\\event\\" + eventId;
        nav.NavigateTo(placeUrl);
    }
}