<div class="page-header">
    <button class="btn btn-filter" type="button" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
    <h4>Filters</h4>
    <button class="btn btn-filter" type="button" data-bs-dismiss="modal" aria-label="Reset" @onclick="reset">Reset</button>
</div>

@code {
    private void reset()
    {
        // need to implement
    }
}