@inherits LayoutComponentBase

<div class="page">
    <main>
        <article class="content">
            @Body
        </article>
    </main>

    <div class="navbar">
        <NavMenu />
    </div>
</div>