@inherits LayoutComponentBase

<div class="page">
    <CascadingValue Value="@state">
        <CascadingValue Value="@user">
            <main>
                <article class="content">
                    @Body
                </article>
            </main>

            @if (state.ShowNav) {
                <div class="navbar">
                    <NavMenu />
                </div>
            }
        </CascadingValue>
    </CascadingValue>
</div>

@code {
    StateModel state;
    UserModel user;

    protected override void OnInitialized()
    {
        state = new StateModel();
        user = new UserModel();
    }
}