.place-info {
    margin: 0 0 0.5rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.place-info-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tag-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.15rem;
    font-size: 0.95rem;
}
