<button type="button" class="plan-card card shadow-sm" data-bs-toggle="modal" data-bs-target="#planSetting">
    <div class="card-body">
        <h5 class="card-title">@TargetPlan.Name</h5>
        <p class="card-text">@TargetPlan.Start - @TargetPlan.End</p>
        <p class="card-text">@TargetPlan.Address</p>
    </div>
</button>
<button class="btn btn-notify">
    <i class="bi bi-bell-fill"></i>
</button>

<div class="modal fade" id="planSetting" tabindex="-1" aria-labelledby="planSettingLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div id="plan-setting" class="modal-body">
                <button type="button" class="btn btn-setting">Edit</button>
                <hr />
                <button type="button" class="btn btn-setting">Copy Address</button>
                <hr />
                <button type="button" class="btn btn-setting">Delete</button>
                <hr />
                <hr />
                <button type="button" class="btn btn-setting btn-cancel" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Plan TargetPlan { get; set; }
}