.review-card {
    box-shadow: 1px 1px 1px #ccc;
}

.rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 1rem 1rem 1rem;
    gap: 0.5rem;
}

.card-body > p {
    margin-bottom: 0;
}

.card-text {
    color: #4E7779
}

.page-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.rz-rating {
    font-size: larger !important;
    display: flex !important;
    gap: 1rem !important;
}

.review {
    margin-top: 1.5rem;
}

.form-controls {
    display:flex;
    flex-direction: column;
}

.btn-danger{
    width: 100%;
}

hr {
    background-color: black;
    margin: 1rem 0;
}