@page "/bookmarks"
@layout PageLayout
@inject PageHistoryState PageHistoryState

<PageHeader pageTitle="Bookmarks" />
<hr>
<div class="page-body">
    @if (user.Bookmarks.Count > 0)
    {
        <RadzenTabs TabPosition="@tabPosition" Class="w-75 my-5 mx-auto" RenderMode="TabRenderMode.Client" >
            <Tabs>
                <RadzenTabsItem Text="Amenity">
                    <div>
                        @foreach (Amenity amenity in AmenityBookmarks)
                        {
                            <BookmarkCard BookmarkedAmenity="amenity" />
                        }
                        
                    </div>
                    
                </RadzenTabsItem>
                <RadzenTabsItem Text="Event">


                </RadzenTabsItem>
            </Tabs>
        </RadzenTabs>
    }
    else
    {
        <div>

        </div>
    }
</div>

@code {
    [CascadingParameter]
    public StateModel state { get; set; }

    [CascadingParameter]
    public UserModel user { get; set; }

    TabPosition tabPosition = TabPosition.Top;

    List<Amenity> AmenityBookmarks = new List<Amenity>();
    List<Event> EventBookmarks = new List<Event>();

    protected override void OnInitialized()
    {
        state.OnTab = 4;
        PageHistoryState.AddPageToHistory("/bookmarks");
        if (user.Bookmarks != null && user.Bookmarks.Count > 0)
        {
            foreach (Place place in user.Bookmarks)
            {
                if (place is Amenity)
                {
                    AmenityBookmarks.Add((Amenity)place);
                }
                else
                {
                    EventBookmarks.Add((Event)place);
                }
            }
        }
        base.OnInitialized();
    }
}