@page "/forgetpassword"
@layout PageLayout
@inject NavigationManager navigationManager
@inject PageHistoryState PageHistoryState

<PageHeader pageTitle="Forget Password?" />
<hr>
<div class="page-body">
    <p> Don't Worry! We got you covered.</p>
    <p> Just type in your registered email and press submit. Next, we will send you the reset password link to your registered email and by clicking that link, you can reset your password.</p>

    <EditForm Model="user" OnValidSubmit="ValidateInput">
        <DataAnnotationsValidator />
        <div class="input-box">
            <div class="form-floating mt-3">
                <InputText @bind-Value="user.Email" class="form-control" id="email" placeholder="name@example.com" />
                <label for="email">Email</label>
            </div>
            <ValidationMessage For="() => user.Email" />
        </div>
        <div class="form-controls">
            <input type="submit" class="btn btn-primary-filled" value="Submit" />
        </div>
    </EditForm>
</div>

@code {
    [CascadingParameter]
    public StateModel state { get; set; }

    [CascadingParameter]
    public UserModel user { get; set; }

    protected override void OnInitialized()
    {
        PageHistoryState.AddPageToHistory("/forgetpassword");
        base.OnInitialized();
    }

    private async Task<bool> ValidateInput()
    {
        @if (PageHistoryState.CanGoBack())
        {
            string backPage = PageHistoryState.GetGoBackPage();
            navigationManager.NavigateTo("/login");
        }
        return await Task.FromResult(true);
    }
}