.form-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1.5rem;
}

.alterns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

﻿.user-request {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}