.profile-background {
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.35) ), url("https://images.unsplash.com/photo-1469474968028-56623f02e42e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1174&q=80");
    height: 15rem;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.user-info {
    color: #F4F4E9;
    position: relative;
    top: 7rem;
    left: 2rem;
}

.user-choices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0.25rem;
    margin-bottom: 2rem;
}

    .user-choices > a {
        text-decoration: none;
        font-size: large;
    }

.btn-choice {
    display: flex;
    justify-content: space-between;
}

.btn-description {
    display: flex;
    gap: 1rem;
}

.btn-logout {
    width: 75%;
    color: black;
    border: 1px solid black;
    margin-top: 2rem;
    padding: 0.75rem;
}