@page "/profile"

<div>
    <div class="profile-background">
        <div class="user-info">
            <h1 class="fw-bold">Profile</h1>
            <h5>Adam Smith</h5>
        </div>
    </div>
    <div class="user-choices">
        <a class="btn btn-no-outline btn-choice" href="bookmarks">
            <div class="btn-description">
                <i class="bi bi-bookmarks"></i>
                <span>Bookmarks</span>
            </div>
            <i class="bi bi-chevron-right"></i>
        </a>
        <a class="btn btn-no-outline btn-choice" href="reviews">
            <div class="btn-description">
                <i class="bi bi-book"></i>
                <span>Reviews</span>
            </div>
            <i class="bi bi-chevron-right"></i>
        </a>
        <a class="btn btn-no-outline btn-choice" href="edit">
            <div class="btn-description">
                <i class="bi bi-pencil-square"></i>
                <span>Edit Profile</span>
            </div>
            <i class="bi bi-chevron-right"></i>
        </a>
        <a class="btn btn-no-outline btn-choice" href="settings">
            <div class="btn-description">
                <i class="bi bi-gear"></i>
                <span>Settings</span>
            </div>
            <i class="bi bi-chevron-right"></i>
        </a>
        <a class="btn btn-logout" href="login">Sign Out</a>
    </div>
</div>

@code {

}