@page "/reviews"
@layout PageLayout
@inject PageHistoryState PageHistoryState

<PageHeader pageTitle="Reviews" />
<hr>
<div class="page-body">
    @if(user.Reviews != null)
    {
        @foreach (Review review in user.Reviews)
        {
            <ReviewCard ReviewItem="review" />
        }
    }
</div>

@code {
    [CascadingParameter]
    public StateModel state { get; set; }

    [CascadingParameter]
    public UserModel user { get; set; }

    protected override void OnInitialized()
    {
        PageHistoryState.AddPageToHistory("/reviews");
        base.OnInitialized();
    }
}