.list-container {
    display: flex;
    overflow: scroll;
    gap: 1.25rem;
    margin-bottom: 1rem;
}

    .list-container::-webkit-scrollbar {
        display: none;
    }

h4 {
    margin-bottom: 0.75rem;
}

hr {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0.5rem 0;
}

.empty-result {
    text-align: center;
    margin-top: 2rem;
}

.rating-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.tickmarks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 0.5rem;
}

.modal-content{
    background-color: white;
}

.selected-type {
    font-size: 0.85em;
    padding: 0.5em 0.85em;
    margin: 0.25em 0;
    background-color: #C3BA9B;
}

.selected-types {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
}

.filter-controls {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}